.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr repeat(4, 4fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 100vw;
  height: 100vh;
  /* background-image: url(./backgrounds/bgHome.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-default {
  background-image: url(./backgrounds/bgHome.jpg);
}

.bg-home {
  background-image: url(./backgrounds/bgHome.jpg);
}
.bg-game {
  background-image: url(backgrounds/bgGame.jpg);
}

.bg-highscore {
  background-image: url(backgrounds/bgHS.jpg);
}

.bg-level1 {
  background-image: url(backgrounds/videoplayback.webm);
}
